
        body {background-color: bisque;}
                    h1 {
                        
                        text-align: center;
                        position: relative;
                        top: 2px;
                        color: bisque;
                        margin: 0;
                    }
                    html, body {
                        height: 100%;
                    }
                
                header {
                    background: rgb(75, 58, 150);
                    border-radius: 2% !important;
                    border-width: 2px;
                    height: 100px;
                    width: 100%;
                    padding: 20px;
                    text-align: center;
                    font-size: 25px;
                    font-family: "Times New Roman";
                    color: rgb(103, 83, 83); 
                    overflow:fixed; 
                    }
                .img{
                    position: relative;
                    right: 48%;
                    top: -80px !important;
                    width: 100px;
                    height: 150px;
                    border-radius:40%;
                    overflow: auto;
                    }

                
                    .social-links-div{
                        position: relative;
                        top : -10px;
                        float: right !important;
                        width: auto;
                        height: auto;
                        background: rgb(75, 58, 150);
                        padding: 20px;
                        }
                    

    .info { 
        text-align: center, unset;
        position: fixed;
        top: 200px;
        background-color: rgb(75, 58, 150);
        font-size: 20px;
        width:10%;
        height:auto;
        border: solid black !important;
        font-family: "Times New Roman";
        color:bisque;
        margin: 20px;
        }
                    
    
        
    
    .mainform {
        position: fixed;
        left: 500px;
        top: 200px;
        width: 20%;
        height:100%;  
        
        }
    

    .content{
        background-color: rgb(75, 58, 150);
        opacity: 1.2;
        width: 50%;
        height: auto;
        padding: 50px;
        border-collapse: center;
        border-radius: 2%;
        position: relative;
        left: 22%;
        font: black;
        resize: vertical;
        } 
    
        main{ 
            width:90vw;
            margin:0 auto;
            padding: 30px 20px;
            min-height:auto;
        } 

        .footer {
        position: fixed;
        clear: both;         
        height: 30px; 
        width: 100%;            
        background-color: rgb(75, 58, 150);
        color:bisque;
        text-align: center;
        padding:20px;
        bottom: 0;
        z-index: 1;
        }
        
    
    .entry-title-link{
        font-family: "Times New Roman";
        font-size: 25px;
        text-align: center !important;
        color: bisque;
        
    }
    .portfolio-content{
        background-color: rgb(103, 83, 83);
        opacity: 1.2;
        width: 60%;
        height: auto;
        padding: 40px;
        border-collapse: center;
        border-radius: 5px;
        position: relative;
        left: 20%;
        font: black;
    }
    .img-responsive{
        width:128px;
        height:128px;
        padding: 0px;
        border-collapse: center;
        position: relative;
        resize: vertical;
        border-radius: 8px;
        border: 1px solid #ddd;
        
        }
        
    .about-content{
        background-color: rgb(103, 83, 83);
        opacity: 1.2;
        width: 40%;
        height: auto;
        padding: 40px;
        border-collapse: center;
        border-radius: 5px;
        position: relative;
        left: 25%;
        font: black;
        resize: vertical;
    }



    

