{% extends "layout.html" %}

{% block content %}

{%if title%}
<title> Sam Sonter - {{title}}</title>
{%else%}
<title> Sam Sonter</title>
{%endif%}
<body>
    <main class="main" itemtype="about"  itemprop="Portfolio">
        <section class="about-content" type="about">
            <div class="row">
                    <h1>{{title}}</h1>
                <p>
                    {{content}}
                        <p>
                            I am a web developer and designer based in Shenzhen. I have a passion for creating beautiful and functional websites.
                            I have a background in Graphic Design and I am currently studying Web Development at the University of London.
                        </p>
                        <p>
                            I have a strong passion for creating websites that are user friendly and easy to use.
                            I am always looking to improve my skills and learn new things.
                        </p>
                        <p>
                            I am currently looking for a job in the web development industry.
                        </p>
                </p>
        </div>
        </section>
    </main>
</body>
{% endblock %}