{%extends "layout.html"%}
{% block content %}
{%if title%}
<title> Sam Sonter - {{title}} </title>
{%else%}
<title> Sam Sonter </title>
{%endif%}

<main>
    <section class="content">
                <article class="publish-post" itemscope="http://schema.org/Article"
                    itemtype="https://dev.to/asapsonter/python-tricks-for-writing-clean-and-easy-readable-code-5cc0">
                    <header class="entry-header">
                        <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" rel="bookmark"
                                href="https://dev.to/asapsonter/python-tricks-for-writing-clean-and-easy-readable-code-5cc0">
                                PYTHON TRICKS FOR WRITNG CLEAN CODE.</a></h2>
                        <p class="entry-meta"><time class="entry-time" itemprop="datePublished"
                                datetime="2019-09-03T16:42:01-04:00">September 3, 2019</time> by <span class="entry-author"
                                itemprop="author" itemscope="" itemtype="#">
                        <a href="{{ url_for('portfolio') }}" class="entry-author-link" itemprop="author"
                                    rel="author"><span class="entry-author-name" itemprop="name">Sam Sonter</span></a></span>
                        </p>
                    </header>
                        
                        <p>Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and
                            multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary
                            recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing
                            videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then
                            you can expect much faster video releases. I really appreciate how patient everyone has been while I go
                            through this move, especially those of you who are contributing monthly through YouTube </p>
                    </div>
                    <footer class="entry-footer">
                        <p class="entry-meta"><span class="entry-categories">Filed Under: <a href="https://dev.to/asapsonter/python-tricks-for-writing-clean-and-easy-readable-code-5cc0"
                                    rel="category tag">General</a></span> </p>
                                    
                    </footer>
                </article>
    </section>
    
    
</main>
<main>
    <section class="content">
        <article class="publish-post" itemscope=""
            itemtype="https://dev.to/asapsonter/python-tricks-for-writing-clean-and-easy-readable-code-5cc0">
            <header class="entry-header">
                <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" rel="bookmark"
                        href="https://dev.to/asapsonter/python-tricks-for-writing-clean-and-easy-readable-code-5cc0">Update
                        (2019-09-03)</a></h2>
                <p class="entry-meta"><time class="entry-time" itemprop="datePublished"
                        datetime="2019-09-03T16:42:01-04:00">September 3, 2019</time> by <span class="entry-author"
                        itemprop="author" itemscope="" itemtype="#"><a href="url_for/'home'/home"
                            class="entry-author-link" itemprop="" rel="author"><span class="entry-author-name"
                                itemprop="name">Sam Sonter</span></a></span>
            </header>
            <div class="entry-content" itemprop="text">
                <p>Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading
                    and
                    multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary
                    recording studio setup at my Airbnb that will allow me to record and edit the
                    threading/multiprocessing
                    videos. I am going to be moving into my new house in 10 days and once I have my recording studio
                    setup then
                    you can expect much faster video releases. I really appreciate how patient everyone has been while I
                    go
                    through this move, especially those of you who are contributing monthly through YouTube </p>
            </div>
            <footer class="entry-footer">
                <p class="entry-meta"><span class="entry-categories">Filed Under: <a
                            href="https://dev.to/asapsonter/python-tricks-for-writing-clean-and-easy-readable-code-5cc0"
                            rel="category tag">General</a></span> </p>
            </footer>
        </article>
        <section class="content-2">
            <article class="publish-post" itemscope="">
                <div>
                    <h1>Avatar</h1>
                    <span>Director: James Cameron (born August 16, 1954)</span>
                    <span>Science fiction</span>
                    <a href="https://dev.to/asapsonter/404-error-1b0h">Trailer</a>
                </div>
                <div class="entry-content" itemprop="text">
                    <p>Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on
                        threading and
                        multiprocessing within the next week. Thanks so much for your patience. I currently have a
                        temporary
                        recording studio setup at my Airbnb that will allow me to record and edit the
                        threading/multiprocessing
                        videos. I am going to be moving into my new house in 10 days and once I have my recording studio
                        setup then
                        you can expect much faster video releases. I really appreciate how patient everyone has been
                        while I go
                        through this move, especially those of you who are contributing monthly through YouTube </p>
                </div>

            </article>
        </section>
    </section>


</main>

<main class="main">
    <section class="content">
        <article class="publish-post" itemscope=""
            itemtype="https://dev.to/asapsonter/python-tricks-for-writing-clean-and-easy-readable-code-5cc0">
            <header class="entry-header">
                <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" rel="bookmark"
                        href="https://dev.to/asapsonter/python-tricks-for-writing-clean-and-easy-readable-code-5cc0">Update
                        (2019-09-03)</a></h2>
                <p class="entry-meta"><time class="entry-time" itemprop="datePublished"
                        datetime="2019-09-03T16:42:01-04:00">September 3, 2019</time> by <span class="entry-author"
                        itemprop="author" itemscope="" itemtype="#"><a href="url_for/'home'/home"
                            class="entry-author-link" itemprop="" rel="author"><span class="entry-author-name"
                                itemprop="name">Sam Sonter</span></a></span>
            </header>
            <div class="entry-content" itemprop="text">
                <p>Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading
                    and
                    multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary
                    recording studio setup at my Airbnb that will allow me to record and edit the
                    threading/multiprocessing
                    videos. I am going to be moving into my new house in 10 days and once I have my recording studio
                    setup then
                    you can expect much faster video releases. I really appreciate how patient everyone has been while I
                    go
                    through this move, especially those of you who are contributing monthly through YouTube </p>
            </div>
            <footer class="entry-footer">
                <p class="entry-meta"><span class="entry-categories">Filed Under: <a
                            href="https://dev.to/asapsonter/python-tricks-for-writing-clean-and-easy-readable-code-5cc0"
                            rel="category tag">General</a></span> </p>
            </footer>
        </article>
        <section class="content-2">
            <article class="publish-post" itemscope="">
                <div>
                    <h1>Avatar</h1>
                    <span>Director: James Cameron (born August 16, 1954)</span>
                    <span>Science fiction</span>
                    <a href="https://dev.to/asapsonter/404-error-1b0h">Trailer</a>
                </div>
                <div class="entry-content" itemprop="text">
                    <p>Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on
                        threading and
                        multiprocessing within the next week. Thanks so much for your patience. I currently have a
                        temporary
                        recording studio setup at my Airbnb that will allow me to record and edit the
                        threading/multiprocessing
                        videos. I am going to be moving into my new house in 10 days and once I have my recording studio
                        setup then
                        you can expect much faster video releases. I really appreciate how patient everyone has been
                        while I go
                        through this move, especially those of you who are contributing monthly through YouTube </p>
                </div>

            </article>
        </section>
    </section>


</main>

</body>

</html>


{% endblock content %}